<app-navbar></app-navbar>

<div class="uk-margin-large-top uk-container">
    <h1 class="texto-1"> Sinopse Detalhada</h1>
    <h2 class="texto-1">
        AngolaON é um programa de televisão inovador que se propõe a ser a principal vitrine do ecossistema digital angolano. Apresentado por Crisóstomo Mbundo, o programa tem como objetivo principal conectar e inspirar o público, tanto local quanto internacional, sobre as últimas tendências e avanços do setor tecnológico em Angola.
    </h2>
</div>

<div class="uk-margin-large-top uk-container">
    <h1 class="texto-1"> Formato e Conteúdo:    </h1>
    <h2 class="texto-1">
        Com um formato dinâmico e alinhado com o modelo OSI (Open Systems Interconnection), o AngolaON mergulha nas diversas camadas da tecnologia, desde a infraestrutura de rede até as aplicações e serviços que transformam o dia a dia dos angolanos.    </h2>
</div>

