<div style="padding-left: auto ; padding-right: auto; " class="uk-container">

<div class=" uk-card uk-card uk-grid-match uk-grid-small uk-child-width-1-2@s " uk-grid  uk-height-match >
    <div >
        <img  class="uk-text-right" src="/assets/images/perfil.png" alt="" >
    </div>
        <div style="padding: 50px;" class="uk-card-body uk-text-left">
            <h2 >apresentado por<br><b>CRISÓSTOMO MBUNDO</b></h2>
            <p style="color: white !important">Especialista em Telecomunicação & Novas Tecnologias | Gestão de Produto | Estratégia de Produto | Entusiasta de Produto | Peering & Interconnection Manager</p>
            <h2 style="color: white !important">Conecta-te:  <a href="https://www.linkedin.com/in/crisostomo-mbundu/"><i class="fa-brands fa-linkedin"></i></a> </h2>
            <p><button routerLink="/acerca" class=" uk-border-pill uk-button-primary uk-button-default uk-button-large">CONHEÇA A EQUIPA</button></p>
</div>
    
</div>

</div>