<app-navbar></app-navbar>
<app-video></app-video>

<div class="uk-container uk-margin-medium-top">
    <h1 class="uk-heading-small uk-text-center"><b>Mais do que um programa:<br> Um Ecossistema Audiovisual!</b></h1>
  <h3 class="uk-text-center">O AngolaON é um programa de televisão inovador, dedicado a desbravar o ecossistema digital angolano.  </h3>
  <p class="uk-text-center">Conheça os nossos Pacotes SOFT de Hospedagem desenhados para todos os bolsos</p>
  
  </div>
<app-cards></app-cards>
<div class="uk-margin-large-top efeito-2 uk-text-center uk-container">
    <h1 class="uk-text-center"> Credibilidade e Alto Padrão de Abordagem  </h1>
<app-perfil></app-perfil>
</div>

<app-cards2></app-cards2>

<app-footer></app-footer>