<!---WHATSAPP-->



<section>
  <footer>
    <div class="uk-container" style="margin-top: 5%">
      <a routerLink="/empregos"> <img src="/assets/banner-fluxodigital.png" class="banner uk-border-rounded" alt=""> </a>
    </div>

<div class="footer">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-1@m uk-child-width-1-1" uk-grid>
      
      <div class="uk-text-center">
        <h3 class="footer-contact-heading">FALE CONNOSCO</h3>
        <div class="footer-contact uk-accordion">
          <ul class="uk-list ">
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: mail; ratio: 1"></span>comercial&#64;on.ao</p>
            </li>
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: phone; ratio: 1"></span>Móvel:  +244 937 754 502</p>
            </li>
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: receiver; ratio: 1"></span>Fixo: +244 222 719 920</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <p>&copy; 2024 Fluxodigital. Todos direitos reservados.</p>
</div>

  </footer>