<div class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
      <div>
          <div class="uk-card uk-card uk-card-body uk-text-center">
            <h3 class="icone texto-1" ><i class="fa-2x fa-solid fa-solid  fa-handshake-angle"></i> <br>Parceiro Oficial</h3>
            <img src="/assets/images/inapem.png" > 
          </div>
          <hr>
  
      </div>
      <div>
          <div class="uk-card uk-card uk-card-body uk-text-center">
            <h3 class="icone"><i class="fa-2x fa-solid fa-solid  fa-link"></i><br> Domínio Oficial</h3>
            <img class="uk-border-rounded" src="/assets/images/ao.png" >
          </div>
          <hr>
  
  
      </div>
      <div>
          <div class="uk-card uk-card uk-card-body uk-text-center">
            <h3 class="icone"><i class="fa-2x fa-solid fa-solid  fa-server"></i><br> Carrier Oficial</h3>
            <img class="uk-border-rounded" src="/assets/images/angolacables.png" >

          </div>
            <hr>
  
  
      </div>

      <div>
        <div class="uk-card uk-card uk-card-body uk-text-center">
          <h3 class="icone"><i class="fa-2x fa-solid fa-solid  fa-cart-shopping"></i><br>  Loja Oficial</h3>
          <img class="uk-border-rounded" src="/assets/images/ncr.png" >
          </div>
          <hr>
  </div>


  <div>
    <div class="uk-card uk-card uk-card-body uk-text-center">
      <h3 class="icone"><i class="fa-2x fa-solid fa-solid  fa-hand-holding-dollar"></i><br>  Gateway Oficial</h3>
      <img class="uk-border-rounded" src="/assets/images/anypay.png" >

    </div>
      <hr>
</div>

<div>
  <div class="uk-card uk-card uk-card-body uk-text-center">
    <h3 class="icone"><i class="fa-2x fa-solid fa-solid  fa-graduation-cap"></i><br>  Academia Oficial</h3>
    <img class="uk-border-rounded " src="/assets/images/isptec.png" >
  
  </div>

    <hr>
</div>



<div>
  <div class="uk-card uk-card uk-card-body uk-text-center">
    <h3 class="icone"><i class="fa-2x fa-solid fa-building-columns"></i><br> Banco Oficial</h3>
    <img class="uk-border-rounded" src="/assets/images/acessbank.png" >

  </div>
  <hr>
</div>


<div>
  <div class="uk-card uk-card uk-card-body uk-text-center">
    <h3 class="icone"><i class="fa-2x fa-solid fa-car"></i><br> Viatura Oficial</h3>
    <img class="uk-border-rounded " src="/assets/images/jetour.png" >

    </div>
    <hr>
</div>



      </div>
      